{% load static %}

<html>
 


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



<body>


{% block content %}

<h1>Teacher Directory</h1>
<br/><br/>

<form>
<div>
    <button type="button" id="add_tchr" class="btn btn-primary" data-toggle="modal"
        data-target="#TeacherAddModal">Add Teacher</button>
<div>
</form>








<!-----------------------------------MODAL--------------------------------->

<form id="TeacherAddForm" method="POST">{% csrf_token %}
    <div class="modal fade" id="TeacherAddModal" role="dialog">
        <div class="modal-dialog modal- md" style="margin-top: 9%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Teacher Add</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>

                <div class="modal-body">
                    
                   

                        <h4></h4>
                    

                            <div>
                                {{teacher_add_form.as_p}}
                            </div>
                            <div>
                                <input type="submit" value="submit" class="btn-btn-success">
                            </div>
                        
                                    

                </div>
            </div>
        </div>
    </div>
</form>

<!-----------------------------------MODAL_END--------------------------------->



<!-----------------------------------TEACHER_DETAILS_DISPLAY--------------------------------->
<h3>Teacher Details</h3>
<br/>
<form action="" method="POST">
{% csrf_token %}




    {% if show %}
    <table>
     <!-- <tr>
        <th style="color:#E9967A"><u>First Name</u></th>
        <th style="color:#E9967A"><u>Last Name</u></th>
        <th style="color:#E9967A"><u>Profile Picture</u></th>
        <th style="color:#E9967A"><u>Email Address </u></th>
        <th style="color:#E9967A"><u>Phone Number</u></th>
        <th style="color:#E9967A"><u>Room Number</u></th>
        <th style="color:#E9967A"><u>Subjects Taught</u></th>
       
      </tr> -->
      
   
      {% for li in show %}
      <tr>
        <td><a href="{% url 'teacher_profile' pk=li.id %}">{{li.First_Name}} {{li.Last_Name}}</a></td>
        
     <!--   <td>{{li.Last_Name}}</td>
        <td>{{li.Profile_Picture}}</td>
        <td>{{li.Email_Address}}</td>
        <td>{{li.Phone_Number}}</td>
        <td>{{li.Room_Number}}</td>
        <td>{{li.Subjects_taught}}</td> -->
     
      </tr>
      {% endfor %}
    </table>

    {% else %}
    <h1>No Data</h1>
  {% endif %} 

</form>


<!-----------------------------------TEACHER_DETAILS_DISPLAY_END--------------------------------->
{% endblock %}
</body>
</html>




{% block javascript %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">  
</script>
<script>

    $(document).ready(function () {
        $("#TeacherAddForm").submit(function (e) {
          e.preventDefault();
          var serializedData = $(this).serialize();
          console.log("entered here 1", serializedData);
      
          $.ajax({
              type: 'POST',
              url: "{% url 'teacher_add_sv' %}",
              data: serializedData,
      
              success: function (response) {
                  console.log("response", response);
                  $("#TeacherAddForm").trigger('reset');
                  window.location.reload()
                  $("#TeacherAddModal").modal('hide');
                  
                 
              },
              error: function (response) {
                console.log("error");
              }
          })
        })
      });


</script>
{% endblock javascript %}